@media all and (min-width: 480px) {
  .Login {
      padding: 60px 0;
      height: 100%;
    }
  
  .Login form {
      margin: 0 auto;
      max-width: 320px;
      color: white;
      font-size: 120%;
  }
  }
  .Login {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }